body {
  font-family: serif;
  color: black;
  font-size: 20px;
}
#navbar {
  font-family: system-ui;
}
#navbar ul {
  list-style: none;
  padding: 0px;
}
#main-doc {
  margin: 20px 25px;
}
header {
  font-size: 30px;
}
.nav-link {
  text-decoration: none;
  color: black;
}
#navbar li {
  padding: 10px;
}
section {
  margin-bottom: 50px;
  margin-right: 50px;
}
